software/.pio
software/.vscode/.browse.c_cpp.db*
software/.vscode/c_cpp_properties.json
software/.vscode/launch.json
software/.vscode/ipch
software/.vscode/extensions.json

software/lib/PS2Keyboard-master.zip
software/include/old.h

hardware/s-l1200.webp
hardware/s-l1200.xcf
